# Lines that start with '#' are comments.
# IntelliJ IDEA Project files
*.idea
*.iml
*.ipr
*.iws
*/out
 
# Eclipse Project files

/*.iml
/*local.properties
*/.idea/workspace.xml
*/.idea/libraries
.DS_Store
*/build
*/captures
.externalNativeBuild
