# Lines that start with '#' are comments.
# IntelliJ IDEA Project files
**/.idea
**/*.iml
*.ipr
*.iws
**/out
 
# Eclipse Project files

/*.iml
/*local.properties
.DS_Store
*/build
*/captures
.externalNativeBuild
